<div class="row dashboardContainer">
  <div class="col-sm-4 leftSide" [hidden]="isHideThread()">
    <div class="leftSideHeader">
      <img src="./assets/images/logo2.png" class="dashboardLogo" />
    </div>
    <div class="leftSideListContainer">
      <ng-container *ngIf="threadType === 'THREAD'">
        <div style="align-items: center; margin:0px" class="leftSectionHeader">
          <h4 class="leftHeading">GROUP LIST </h4>
          <span class="loader" *ngIf="loading"></span>
          <h4 class="createText" (click)="newGroup()">Add +</h4>
        </div>
        <!-- empty chats section start-->
        <div class="leftSectionEmptyContainer" *ngIf="!AllGroups.length && !loading">
          <p class="noAvailableText">No Available ChatRoom</p>
          <p class="tapText">Tap and hold on any message to star it, so you can easily find it later.</p>
        </div>
        <!-- empty chats section end-->

        <div class="listingContainer fullHeight">
          <div class="chatListContainer noHorizontalPadding">
            <ng-container *ngFor="let group of AllGroups">
              <div class="contactListCard hand">
                <div class="contactListCardLeft">
                  <p class="ListCardName">{{group.chatTitle}}</p>
                </div>
                <div class="contactListCardRight mr-3">
                  <div></div>
                  <img src="./assets/images/call.png" class="ListCardButton hand" (click)="startAudioCall(group)" />
                  <img src="./assets/images/video-call.png" class="ListCardButton hand"
                    (click)="startVideoCall(group)" />
                  <div class="dropdown" style="align-self: flex-end">
                    <img src="./assets/images/more.png" class="moreIcon" />
                    <div class="dropdown-content">
                      <a class="edit" (click)="openModal(content,group)">EDIT GROUP NAME</a>
                      <a class="delete" (click)="deleteGroup(group)">DELETE</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <add-group (changeEvent)="changeSidebar($event)" *ngIf="threadType === 'GROUP'"> </add-group>
    </div>
    <div class="leftSideFooter">
      <div class="logoutContainer" (click)="logout()">
        <img src="./assets/images/log-out.png" class="logoutLogo" />
        <span class="logoutText">LOG OUT {{currentUserData.full_name}}</span>
        <span class="ml-1" [ngClass]="sdkconnected ? 'online' :'offline' "></span>
      </div>
    </div>
  </div>
  <div class="col-sm-8 rightSide" [hidden]="isHideChatScreen()">
    <div class="rightSideHeader">
      <p class="roomNameText text-capitalize" *ngIf="calling.callerName && calling.templateName != 'noCall'">
        {{ calling.callerName }}
      </p>
      <p class="text-capitalize" style="margin-left: 25px;font-family: inter-regular;font-size: 21px;" *ngIf="callTime">
        {{ callTime | formatTime }}
      </p>
    </div>
    <ng-container [ngTemplateOutlet]="selectedTemplate"></ng-container>
  </div>
</div>

<ng-template #noCall>
  <div class="messagesBox">
    <div class="chatRoomContainer">
      <div style="height: 100%;" class="listingContainer">
        <!-- empty list container start -->
        <div class="emptyListContainer">
          <div class="emptyListTop">
            <div></div>
            <img src="./assets/images/shipping.png" class="shippingIcon" />
            <div class="noConvoTextWrapper">
              <p class="noConvoText">No Groups Yet</p>
              <p style="max-width: 200px;" class="noConvoSub">
                Tap and hold on any message to star it, so you can easily find
                it later.
              </p>
            </div>
          </div>
          <div class="emptyListBottom">
            <button type="submit" class="btn newChatButton" (click)="newGroup()">
              NEW GROUP
            </button>
            <button type="submit" class="btn refreshButton" (click)="getAllGroups()">
              REFRESH
            </button>
          </div>
        </div>
        <!-- empty list container end -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #groupIncommingAudioCall>
  <div class="messagesBox">
    <div style="padding: 0;" class="callContainer">
      <div
        style="height:100%;background-color: #1E2F2C;width: 100%;display: flex;flex-direction: column;align-items: center;justify-content: space-between;padding-top: 60px;padding-bottom: 30px;">
        <audio id="audiotag1" autoplay src="./assets/images/calling_you.mp3" preload="auto"></audio>
        <p style="color:white" class="callContainerStatus">Incomming Call From</p>
        <p style="color:white" class="callerName text-capitalize">{{ calling.callerName }} </p>
        <img src="./assets/images/audio2.png" class="audioIcon" />
        <div style="width: 200px;" class="callButtonsContainer">
          <img src="./assets/images/Accept-button.png" class="responseButtonImg" (click)="acceptcall()" />
          <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
          <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
            class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #groupOutgoingAudioCall>

  <div style="overflow: hidden; padding: 0px" class="messagesBox">
    <div class="callContainer2" style="overflow: auto">
      <div class="singleVideoAlone">
        <audio autoplay muted height="100%" width="100%" style="object-fit: fill; position: absolute; z-index: 10001"
          autoplay>
        </audio>
        <p class="bigName">{{ calling.callerName }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer" style="color: #f2e33a; margin-right: 0px">Me</span>
          <span class="nameContainer"> {{ calling.callerName }} </span>
        </div>
      </div>


      <!-- singleVideoAlone -->

      <!-- <div class="singleVideo"></div> -->

      <!-- <div class="IncommingVideo">
        <video
          autoplay
          muted
          height="100%"
          width="100%"
          style="object-fit: fill"
          autoplay
        >
          <source src="" type="video/mp4" />
        </video>
      </div>
      <div class="OutgoingVideo">
        <video
          autoplay
          muted
          height="100%"
          width="100%"
          style="object-fit: fill"
          autoplay
        >
          <source src="" type="video/mp4" />
        </video>
      </div> -->

      <!-- <p class="callContainerStatus white">00:00</p>
      <p class="callerName white">Zohaib Khan</p> -->
    </div>

    <!-- end -->
    <div style="width: 100%; justify-content: center" class="callButtonsContainer2">
      <img style="margin-right:10px" src="./assets/images/decline-button.png" class="responseButtonImg"
        (click)="stopCall()" />
      <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
        class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
    </div>
  </div>



  <!-- <div class="messagesBox">
    <div class="callContainer">
      <p class="callContainerStatus">Calling</p>
      <p class="callerName text-capitalize">{{ calling.callerName }} </p>
      <img src="./assets/images/blue-avatar.png" class="avatarIcon" />
      <div style="width: 150px;" class="callButtonsContainer">
        <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
        <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
          class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
      </div>
    </div>
  </div> -->
</ng-template>

<ng-template #groupOngoingAudioCall>
  <div style="overflow: hidden;padding: 0px;" class="messagesBox">
    <div class="callContainer2" style="overflow: auto;" [hidden]="hideCallContainer2">
      <div [ngClass]="groupOutgoingVideoCall ? 'singleVideoAlone' :'singleVideo' ">
        <audio id="localAudio" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
          <source src="" type="video/mp4" />
        </audio>
        <p class="bigName">{{ currentUserData.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer" style="color: #f2e33a; margin-right: 0px">Me</span>
          <span class="nameContainer">
            <img src="./assets/images/microphone-{{settings.isOnInProgressMicrophone ? 'on.png' :'red.png'}}" style="
              height: 22px;
              width: 22px;
              object-fit: contain;
              margin-right: 5px;
            " />
            {{ currentUserData.full_name }}</span>
        </div>
      </div>
      <div class="singleVideo" *ngFor="let user of calling.participant | slice:0:3;let i=index">

        <audio [id]="user.ref_id" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
          <source src="" type="video/mp4" />
        </audio>
        <p class="bigName"> {{ user.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer">
            {{ user.full_name }}
          </span>
        </div>

      </div>
    </div>
    <!-- //2nd container -->
    <div class="callContainer3" style="overflow: auto" [hidden]="hideCallContainer3">
      <div class="singleVideo" *ngFor="let user of calling.participant | slice:3:7; let i = index;">
        <audio [id]="user.ref_id" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
        </audio>
        <p class="bigName">{{ user.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer">{{ user.full_name }}</span>
        </div>
      </div>
    </div>
    <!-- <div style="width: 100%; justify-content: center" class="callButtonsContainer2">
      <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
      <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
        class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
    </div> -->
    <div class="groupCallControllContainer">
      <div style="width: 150px;" class="callButtonsContainer">
        <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
        <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
          class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
      </div>
    </div>
  </div>

  <div class="nextPrevContainer" [hidden]="isHideAudioPaginationBtn()">
    <div class="nextPrevButton">
      <div (click)="previousScreen()" class="prevButton">
        <img src="./assets/images/leftPolygon.png" class="contIcon" />
      </div>
      <div (click)="nextScreen()" class="nextButton">
        <img src="./assets/images/rightPolygon.png" class="contIcon" />
      </div>
    </div>
  </div>

  <!-- <div style="border-radius: 0px" class="messagesBox noPadding">
    <div class="groupCallContainer">
      <div class="upperVideoContainer">
        <div class="singleParticipantContainer" *ngFor="let user of calling.participant">
          <div class="singleInner">
            <img src="./assets/images/blue-avatar.png" class="singleInnAvatar" />
            <p class="innerCallerName text-capitalize">{{ user.full_name }}</p>
            <audio [id]="user.ref_id" autoplay style="object-fit: cover" autoplay>
              />
            </audio>
          </div>
        </div>

      </div>
      <div class="bottomVideoContainer">
        <div class="localVideoContainer">
          <div class="singleInner">
            <img src="./assets/images/blue-avatar.png" class="singleInnAvatar" />
            <p class="innerCallerName text-capitalize">{{ currentUserData.full_name }}</p>
            <audio id="localAudio" autoplay style="object-fit: cover" autoplay>
              />
            </audio>
          </div>
        </div>

        <div class="groupCallControllContainer">
          <div style="width: 150px;" class="callButtonsContainer">
            <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
            <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
              class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
          </div>
        </div>

      </div>
    </div>
  </div> -->
</ng-template>

<ng-template #groupIncommingVideoCall>
  <div class="messagesBox">
    <div style="padding:0px" class="callContainer">
      <div
        style="height:100%;background-color: #1E2F2C;width: 100%;display: flex;flex-direction: column;align-items: center;justify-content: space-between;padding-top: 60px;padding-bottom: 30px;">
        <audio id="audiotag1" autoplay src="./assets/images/calling_you.mp3" preload="auto"></audio>
        <p style="color:white" class="callContainerStatus">Incomming Call From</p>
        <p style="color:white" class="callerName text-capitalize">{{ calling.callerName }}</p>
        <img src="./assets/images/audio2.png" class="audioIcon" />
        <div style="width: 200px;" class="callButtonsContainer">
          <img src="./assets/images/Accept-button.png" class="responseButtonImg" (click)="acceptcall()" />
          <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
          <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
            class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #groupVideoCall>
  <div style="overflow: hidden;padding: 0px;" class="messagesBox">

    <div class="callContainer2" style="overflow: auto;" [hidden]="hideCallContainer2">
      <div [ngClass]="groupOutgoingVideoCall ? 'singleVideoAlone' :'singleVideo' ">
        <video id="localVideo" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
          <source src="" type="video/mp4" />
        </video>
        <p class="bigName">{{ currentUserData.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer" style="color: #f2e33a; margin-right: 0px">Me</span>
          <span class="nameContainer">
            <img src="./assets/images/microphone-{{settings.isOnInProgressMicrophone ? 'on.png' :'red.png'}}" style="
              height: 22px;
              width: 22px;
              object-fit: contain;
              margin-right: 5px;
            " />
            {{ currentUserData.full_name }}</span>
        </div>
      </div>
      <div class="singleVideo" *ngFor="let user of calling.participant | slice:0:3; let i = index;">
        <video [id]="user.ref_id" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
          <source src="" type="video/mp4" />
        </video>
        <p class="bigName">{{ user.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer">
            {{ user.full_name }}
          </span>
        </div>
      </div>
    </div>

    <!-- //2nd container -->
    <div class="callContainer3" style="overflow: auto" [hidden]="hideCallContainer3">
      <div class="singleVideo" *ngFor="let user of calling.participant | slice:3:7; let i = index;">
        <video [id]="user.ref_id" autoplay muted height="100%" width="100%"
          style="object-fit: fill; position: absolute; z-index: 10001" autoplay>
          <source src="" type="video/mp4" />
        </video>
        <p class="bigName">{{ user.full_name }}</p>
        <div class="newdetailsWrapper">
          <span class="nameContainer"> {{ user.full_name }}</span>
        </div>
      </div>
    </div>

    <div style="width: 100%; justify-content: center" class="callButtonsContainer2">
      <img src="./assets/images/video-call-{{ settings.isOnInProgressCamara ? 'on.png' :'off.png'}}"
        class="responseButtonImg" (click)="changeSettings('isOnInProgressCamara')" />
      <img style="margin-left: 10px;margin-right: 10px;" src="./assets/images/decline-button.png"
        class="responseButtonImg" (click)="stopCall()" />
      <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
        class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
    </div>

  </div>

  <div class="nextPrevContainer" [hidden]="isHidePaginationBtn()">
    <div class="nextPrevButton">
      <div (click)="previousScreen()" class="prevButton">
        <img src="./assets/images/leftPolygon.png" class="contIcon" />
      </div>
      <div (click)="nextScreen()" class="nextButton">
        <img src="./assets/images/rightPolygon.png" class="contIcon" />
      </div>
    </div>
  </div>

  <!-- <div style="border-radius: 0px" class="messagesBox noPadding">

    <div class="groupCallContainer " [ngClass]="groupOutgoingVideoCall ? 'noCallBackground' : ''">
      <div class="upperVideoContainer">

        <div class="conditionalName" *ngIf="groupOutgoingVideoCall">
          <p class="callContainerStatus">Calling</p>
          <p class="callerName text-capitalize">{{ calling.callerName }}</p>
        </div>
        <div class="singleParticipantContainer" *ngFor="let user of calling.participant">
          <div class="singleInner">
            <div class="groupVideoCallWrapper groupVideoCallWrapperBlock">
              <video [id]="user.ref_id" autoplay muted style="object-fit: contain; height: 100%;
              width: 100%;" autoplay>
                <source src="" type="video/mp4" />
              </video>
            </div>
            <img src="./assets/images/blue-avatar.png" class="singleInnAvatar" />
            <p class="innerCallerName">{{ user.full_name }}</p>
          </div>
        </div>
      </div>
      <div class="bottomVideoContainer " [ngClass]="groupOutgoingVideoCall ? 'noCallBackground' : ''">
        <div class="localVideoContainer">
          <div style="margin-bottom: 50px" class="singleInner">
            <div class="groupVideoCallWrapperBlock"
              [ngClass]="groupOutgoingVideoCall ? 'groupVideoCallWrapper_noCall ' : 'groupVideoCallWrapper_Call'">
              <video id="localVideo" style="object-fit: cover; width: 100%;" autoplay muted autoplay>
                <source src="" type="video/mp4" />
              </video>
            </div>

            <div class="singleInner" id="localNameHolder">
              <img src="./assets/images/blue-avatar.png" class="singleInnAvatar" />
              <p class="innerCallerName text-capitalize">{{ currentUserData.full_name }}</p>
            </div>

          </div>
        </div>

        <div class="groupCallControllContainer">
          <div style="width: 200px;" class="callButtonsContainer">
            <img src="./assets/images/video-call-{{ settings.isOnInProgressCamara ? 'on.png' :'off.png'}}"
              class="responseButtonImg" (click)="changeSettings('isOnInProgressCamara')" />
            <img src="./assets/images/decline-button.png" class="responseButtonImg" (click)="stopCall()" />
            <img src="./assets/images/microphone-{{ settings.isOnInProgressMicrophone ? 'on.png' :'off.png'}}"
              class="responseButtonImg" (click)="changeSettings('isOnInProgressMicrophone')" />
          </div>
        </div>

      </div>
    </div>
  </div> -->
</ng-template>

<ng-template #content let-modal>
  <div class="createChatPopup modal-body">
    <div class="chatPopupContent">
      <div class="modalHeader">
        <p class="modalHeading">Edit group </p>
        <img src="./assets/images/cross.png" class="modalCross hand" (click)="modal.dismiss('Cross click')" />
      </div>
      <div class="modalContent">
        <form [formGroup]="groupForm" class="w-100" (submit)="editGroup()">
          <p class="modalContentHeading">Name your group </p>
          <input type="text" class="form-control" placeholder="ex: Deeper team" formControlName="group_title" />
          <form-errors [control]="groupForm.get('group_title')"></form-errors>
        </form>
      </div>
      <button type="submit" class="btn doneButton mt-3" (click)="editGroup()" [disabled]="loading">
        DONE
      </button>
    </div>
  </div>
</ng-template>